body{
    background-color: rgb(36, 36, 36);
    background-image: url("/bg.jpg");
    background-repeat: repeat-y;
}

html{
    scrollbar-width: thin;
    scrollbar-color: #303030 #1e1e1e;
}

#box {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: "Quicksand", monospace;
    font-size: large;
    font-weight: bolder;
    color: white;
    max-height: 250px;
    min-height: 250px;
    overflow-y: scroll;
}

#box2 {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: "Quicksand", monospace;
    font-size: large;
    font-weight: bolder;
    color: purple;
    max-height: 150px;
    min-height: 150px;
    overflow-y: scroll;
}

p{
    border-bottom: 5px#303030 solid;
    padding-bottom: 17.5px;
}

#main {
    display: block;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

#flex1, #flex2, #flex3{
    display: flex;
    text-align: center;
    align-items: center;
}

#flex1{
    border-bottom: 5px#303030 solid;
    padding-bottom: 17.5px;
}

#flex2{
    border-bottom: 5px#303030 solid;
    padding-bottom: 17.5px;
}

.bi bi-bell-fill{
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
}

.bi bi-bell-slash-fill{
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: bold;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #303030;
    color: #FFFFFF;
}

#btn, #btn-p {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#save{
    background-color: rgb(0, 218, 0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

#stop{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

#btn-p{
    background-color: blueviolet;
}

#btn i, #btn-p i, #save {
    font-size: 1.2rem;
}

#btn:hover {
    background-color: #0056b3;
}

#btn-p:hover{
    background-color: purple
}

#save:hover{
    background-color: rgb(0, 155, 0);
}

#stop:hover{
    background-color: rgb(179, 0, 0);
}
